{% extends "base.html" %}

{% block title %}书库 - 图书管理系统{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename="library.css") }}">
    <script src="{{ url_for('static',filename="bootstrap-3.4.1-dist/js/library.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <table>
            <tr>
                <td>
                    <img src="#" id="img1" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a1"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img2" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a2"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img3" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a3"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img4" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a4"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img5" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a5"></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="#" id="img6" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a6"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img7" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a7"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img8" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a8"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img9" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a9"></a>
                    </div>
                </td>
                <td>
                    <img src="#" id="img10" style="width: 200px;height: 300px">
                    <div>
                        <a href="#" id="a10"></a>
                    </div>
                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination" id="page_part">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li id="page1"><a href="#" id="page_a1">1</a></li>
                <li id="page2"><a href="#" id="page_a2">2</a></li>
                <li id="page3"><a href="#" id="page_a3">3</a></li>
                <li id="page4"><a href="#" id="page_a4">4</a></li>
                <li id="page5"><a href="#" id="page_a5">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <input type="text" style="width: 30px;margin-left:5px;" name="jump_input">
                    <button class="btn" id="jump_btn">跳转</button>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}