{% extends "base.html" %}

{% block title %}用户注册{% endblock %}

{% block head %}
<script src="{{url_for('static',filename="/js/register.js")}}"></script>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <form method="post" action="{{ url_for("user.register") }}" id="f1">
    <div class="form-group">
        <label for="username">用户名:</label>
        <input class="form-control" type="text" name="name" form="f1">
    </div>
    <div class="form-group">
        <label>邮箱:</label>
        <input type="text" class="form-control" name="email" form="f1">
        <button type="submit" class="btn" form="f2" style="float:right;" id="sd_em">发送验证码</button>
    </div>
        <div class="form-group">
        <label>验证码:</label>
        <input type="text" form="f1" class="form-control" name="captcha">
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input type="password" form="f1" class="form-control" name="pwd">
    </div>
    <div class="form-group">
        <label>确认密码:</label>
        <input type="password" class="form-control" name="confirm" form="f1">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info btn-block" id="regisbtn" form="f3">注册</button>
    </div>
        <div style="height: 20px;display: none;background-color:#f5e79e;text-align: center" id="warn"></div>
        </form>
        </div>
            <div class="col-md-4"></div>
    </div>
{% endblock %}